<h1>Chat rooms</h1>

<p class="lead"><%= link_to 'New chat room', new_chat_room_path, class: 'btn btn-primary' %></p>
<hr>
<div class = "ppp">
  <ul>
    <%= render @chat_rooms %>
  </ul>
</div>
<br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
<footer>
  <hr>
  <h6 class = "foot">Developed by Raghav VC &nbsp &nbsp &nbsp vc.raghav@gmail.com &nbsp &nbsp &nbsp github.com/raghav97</h6>
    <i class="glyphicon glyphicon-heart"> </i>
  <h6 class = "foot1">Coded with &nbsp &nbsp &nbsp &nbsp using Ruby on Rails</h6>
  <hr>
</footer>