
<a class = "align-right1" href = "/login"> Login </a>
<a class = "align-right2" href = "/signup"> Signup </a>
<a class = "align-right3" href = "/become_a_host"> Become a Host </a>
<a class = "align-right4" href = "/help"> Help </a>

<head> 
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %> 
  <%= csrf_meta_tags %>
</head>

<h1> Let's find a beautiful place to get lost! </h1>
<style>
.mySlides {display:none;}
</style>
<body>



<div class="w3-content w3-section">
  <img class="mySlides" src="assets/images/tent.jpg" height = "550px" width = "100%">
  <img class="mySlides" src="assets/images/tent2.jpg" height = "550px" width = "100%">
  <img class="mySlides" src="assets/images/tent3.jpg" height = "550px" width = "100%">
  <img class="mySlides" src="assets/images/imgs.jpg" height = "550px" width = "100%">  
</div>

<script>
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 4000); // Change image every 2 seconds
}
</script>

<div class="search-box">
  <form action="/search" method="GET">
    <input type="text" name="query" id="" placeholder="Where to? ">
    <button type="submit"><span class="fa fa-search"></span></button>
  </form>
</div>

<br> <br> <br>
<h3> Featured destinations </h3>

<a href = "/city/1"> <img class = "left-img" src = "assets/images/chennai.jpg" height = "200px" width = "400px"> </a>
<a href = "/city/2"> <img class = "right-img" src = "assets/images/agra.jpg" height = "200px" width = "400px"> </a>
<br>
<a href = "/city/3"> <img class = "left-img" src = "assets/images/delhi.jpg" height = "200px" width = "400px"> </a>
<a href = "/city/4"> <img class = "right-img" src = "assets/images/goa.jpg" height = "200px" width = "400px"> </a>
<br>
<a href = "/city/5"> <img class = "left-img" src = "assets/images/kolkata.jpg" height = "200px" width = "400px"> </a>
<a href = "/city/6"> <img class = "right-img" src = "assets/images/mumbai.jpg" height = "200px" width = "400px"> </a>

</body>