<a class = "align-right1" href = "/login"> Login </a>
<a class = "align-right2" href = "/signup"> Signup </a>
<a class = "align-right3" href = "/become_a_host"> Become a Host </a>
<a class = "align-right4" href = "/help"> Help </a>

<br> <br>
<hr class = "hor-line">

<h1 class = "text-center"> <%= @room.name %> </h1>

<img src = "/<%= @room.image_src %>" height = "400px" width = "100%">

