<span class="align-right1">Logged in as <strong><%= current_user.name %></strong></span>
<div class = "align-right2"><%= link_to 'Log out', destroy_user_session_path, method: :delete, class: '' %> </div>
<a class = "align-right3" href = "/chat"> Chat </a>
<a class = "align-right4" href = "/help"> Help </a>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

<br> <br>

<h1> What does TripPlanner do?</h1>
<h4 class = "answerss"> TripPlanner is an online community marketplace that connects people looking to rent their homes with people who are looking for accommodations. TripPlanner users include hosts and travelers: hosts list and rent out their unused spaces, and travelers search for places in various cities, look for a home to stay and chat with the hosts and other travelers.</h4>

<hr class = "hor-line">

<h1> Who can use TripPlanner? </h1>
<h4 class = "answerss"> Anyone can sign up for free and use TripPlanner. Though the places hosted in TripPlanner are limited to India right now, various cities from various countries will be added soon!</h4>

<hr class = "hor-line">

<h1> Does TripPlanner make any profit? </h1>
<h4 class = "answerss"> As of now TripPlanner does not make any profit. TripPlanner was built by taking the satisfaction of the travelers in mind. The main aim of TripPlanner is to create a bond between travelers around the world.</h4>

<footer>
  <hr>
  <h6 class = "foot">Developed by Raghav VC &nbsp &nbsp &nbsp vc.raghav@gmail.com &nbsp &nbsp &nbsp github.com/raghav97</h6>
    <i class="glyphicon glyphicon-heart"> </i>
  <h6 class = "foot1">Coded with &nbsp &nbsp &nbsp &nbsp using Ruby on Rails</h6>
  <hr>
</footer>